body {
  font-size:13px;
  line-height:1.538;              /* 20px baseline */
  margin:20px;                    /* 40px margins */
  max-width:60.769em;             /* 790px */
  font-family:verdana,helvetica,sans-serif;
  color:#444;
}

em { 
  font-style:italic;
  color:#000 
}

strong { 
  font-weight:bold;
}

tt { color:#007A00 }
dt { color:#000 }

h1, h2, h3, h4, h5 { 
  font-family:'lucida grande',helvetica,verdana,sans-serif;
  color:#000; 
}

h1 {
  font-size:28px;
  line-height:1.428;
  margin:40px 0 40px 0;
}

h2 {
  font-size:20px;
  line-height:1;
  margin:30px 0 20px 0;
}

h3 {
  font-size:15px;
  line-height:1.25;
  margin:20px 0 10px 0;
}

h4 {
  font-size:12px;
  font-style:italic;
  line-height:1.538;
  margin:20px 0;
  text-transform:uppercase;
}

#header h1 { text-align:center }

pre tt { color:#000 }
p, ul, ol, dl { margin:10px 0 }
dl { margin-left:40px }

.title, .sidebar-title {
  font-weight: bold;
  color:#000;
  margin-bottom:0;
}

.admonitionblock { margin:1.4285em; }

.admonitionblock td.icon {
  width:2.857em;                     /* 40px */
  padding-right:1.4285em;
}

.listingblock .content {
  border: 1px solid silver;
  background: #f4f4f4;
  padding: 0.7142em;                /* 10px */
}
.listingblock .content pre { margin:0 }
.literalblock .content { margin-left:2.8568em; }

.verseblock .content { white-space: pre }

.sidebarblock .sidebar-content {
  border: 1px solid silver;
  background: #FFFFEE;
  padding: 0 10px;
  color:#222;
}
.sidebar-title { margin: 10px 0 }

.quoteblock-content {
  font-style:italic;
  color:#444;
  margin-left:2.857em;
}
.quoteblock-content .attribution {
  font-style: normal;
  text-align:right;
  color:#000;
}

.exampleblock-content *:first-child { margin-top:0 }
.exampleblock-content {
  border-left:2px solid silver;
  padding-left:0.712em;
}

#footer {
  font-size:11px;
  margin-top:39px;
  border-top:1px solid silver;
  color:#555;
}

#author { color:#000; text-transform:uppercase }
